.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    align-items: flex-start;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}
